.button {
	padding: 1vh;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
	width: 40vw;
	text-align: center;
	@media (min-width: $desktop-breakpoint) {
		width: 9rem;
	}
}

.button__contact__modal {
	@extend .button;
	margin-top: 2.5vh;
	@media (min-width: $desktop-breakpoint) {
		margin-top: $m-size;
	}
}
