.contact-form {
	margin: 0 auto;
	width: 60vw;
}

.text-field,
.text-area,
.recaptcha-area {
	margin-bottom: 3vh;
}

.text-field {
	height: 5vh;
}

.text-area {
	height: 18vh;
}

input,
textarea,
.recaptcha-area {
	padding: 1vh;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
	width: 60vw;
}

.errorText {
	color: $red;
	font-size: $error-size;
	margin: 0 0 1.5vh 0;
	padding: 0 0 0.5rem;
}

.error {
	border: 1px solid $red;
}

.form__button {
	width: 40vw;
	margin: 0 auto 2.5vh;
}
