.footer__strap {
	text-align: center;
}
.footer__copyright {
	@extend .footer__strap;
	padding-bottom: 2.5vh;
}

.footer__icons {
	@extend .footer__strap;
}

.footer__icons img {
	padding: 5px;
	height: 5vh;
}
