.header {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	// @media (min-width: $desktop-breakpoint) {
	// 	display: block;
	// 	width: 100%;
	// }
}

.header__link {
	color: $text;
	font-size: $header-link;
	padding: 2vh 0;
	margin: 0;
	text-decoration: none;
	@media (min-width: $desktop-breakpoint) {
		padding: 1.1rem;
	}
}

.is-active {
	color: $activeLink;
}
