.projectLists {
	display: flex;
	flex-direction: column;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.projectItem {
	margin: 2vh;
	@media (min-width: $desktop-breakpoint) {
		margin: 0.75rem;
		width: 12rem;
	}
}

.project__spacer {
	display: flex;
	justify-content: center;
}

.project__header {
	align-items: center;
	display: flex;
	flex-direction: row;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: column;
	}
}

.project__title {
	font-size: $project-name;
	padding-right: 1vw;
}

.project__icons img {
	display: inline-block;
	height: 2.5rem;
	padding: 1vh 1vw;
	@media (min-width: $desktop-breakpoint) {
		height: 2.15rem;
		padding: 0.25rem 0.25rem;
	}
}

.project__tagline {
	text-align: center;
}

.project__readmore {
	display: flex;
	justify-content: center;
	padding-top: 1vh;
}

.project__readmore:hover {
	color: $activeLink;
	cursor: pointer;
}
