.projectLists {
	display: flex;
	flex-direction: column;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 90vw;
	}
}

.projectItem {
	margin: 2.5vh;
	@media (min-width: $desktop-breakpoint) {
		width: 25vw;
	}
}

.project__header {
	align-items: center;
	display: flex;
	flex-direction: row;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: column;
	}
}

.project__title {
	font-size: $project-name;
	padding-right: 1vw;
}

.project__readmore {
	text-align: right;
}

.project__icons img {
	display: inline-block;
	height: 2.5rem;
	padding: 1vh 1vw;
	@media (min-width: $desktop-breakpoint) {
		height: 2.15rem;
		padding: 0.75vh 0.75vw;
	}
}
