html {
	font-size: 62.5%; // 1.6rem = 16px
}
body {
	background: #fcfcfc;
	color: #191d32;
	font-family: 'Ubuntu', sans-serif;
	font-size: $m-size;
	margin: 0 2vw;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 2vh auto;
	min-height: 96vh;
}

header {
	flex: none;
}

main {
	flex-grow: 1;
}

footer {
	flex: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
	color: $activeLink;
}

a.read-more {
	cursor: pointer;
	font-weight: bold;
	:vistied {
		color: $activeLink;
	}
	:hover {
		color: $activeLink;
	}
}

img {
	border-style: none;
	margin: 0.25em;
	width: 30px;
}

.paragraph {
	line-height: 1.5;
	margin: 2.5vh 0;
}
