// colors
$red: #d9534f;
$background: #fcfcfc;
$text: #191d32;
$activeLink: #cc3333;

//font size
$title-size: 1.75rem;
$project-name: 1.25rem;
$header-link: 1rem;
$error-size: 0.9rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 40rem;
$max-width: 70rem;
